.position{
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;

}
.positions{
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;

}
.pos{
    margin-top: 7px;
    

}